<h1> Create an event! <h1>


<form id="create_event" method="post" action="/create_event">
  Name:<input type="text" name="event[name]">
  Location:<input type="text" name="event[location]">
  Starts at:<input type="datetime-local" name="event[starts_at]">
  Ends at:<input type="datetime-local" name="event[ends_at]">
  <input type="submit" value="create event!">

</form>
