<h1> Register </h1>

<form id="register" method="post" action="/register">
  First Name:<input type="text" name="user[first_name]">
  Last Name:<input type="text" name="user[last_name]">
  Email:<input type="text" name="user[email]">
  Birthdate:<input type="date" name="user[birthdate]">
  Password:<input type="text" name="user[password]">
  <input type="submit" value="register">

</form>
